:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-primary: rgb(176, 7, 7);
  --color-primary-1: rgb(179, 66, 66);
  --color-primary-2: rgb(177, 91, 91);
  --color-secondary: yellow;
  --color-secondary-1: rgb(248, 248, 67);
  --color-secondary-2: rgb(245, 245, 120);
  --color-ternary: black;
  --color-ternary-1: rgb(71, 71, 71);
  --color-ternary-2: rgb(120, 120, 120);
  --color-contrast: whitesmoke;

  --color-highlight: royalblue;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 1rem;
  margin: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--color-primary);
  color: white;
  
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-contrast);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
